<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.fhc25.percepcion.osiris.mapviewer"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".ui.application.OsirisApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.BasicMapViewerActivity"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
            android:label="@string/app_name"
            android:launchMode="singleTop">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name="org.mygeotrust.indoor.ui.LandingActivity"
            android:label="@string/app_name"
            android:theme="@style/MyGTIndoorTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name="org.mygeotrust.indoor.tasks.checkLocationSettings.CanGetLocationNew"
                  android:theme="@style/CanGetLocationTheme">
        </activity>

        <service
            android:name="org.mygeotrust.indoor.tasks.detectIndoorOutdoor.algorithm.DetermineIndoorOutdoorService"
            android:exported="false"/>
        <service
            android:name="org.mygeotrust.indoor.tasks.detectIndoorOutdoor.algorithm.HighRateGpsListenerService"
            android:exported="false"/>
        <service
            android:name="org.mygeotrust.indoor.tasks.detectIndoorOutdoor.algorithm.HighRateGpsStatusListenerService"
            android:exported="false"/>
        <service
            android:name="org.mygeotrust.indoor.tasks.detectIndoorOutdoor.algorithm.LowRateGpsListenerService"
            android:exported="false"/>
        <service
            android:name="org.mygeotrust.indoor.tasks.detectIndoorOutdoor.algorithm.LowRateGpsStatusListenerService"
            android:exported="false"/>
    </application>

</manifest>