<?xml version="1.0" encoding="utf-8"?>
<manifest package="syeed.mahbubul.proximitydetection"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>

    <!-- Dangerous permission. Requires runtime approval from user. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Currently this one is handled only -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".DetermineIndoorOutdoorService"
            android:exported="false"/>
        <service
            android:name=".HighRateGpsListenerService"
            android:exported="false"/>
        <service
            android:name=".HighRateGpsStatusListenerService"
            android:exported="false"/>
        <service
            android:name=".LowRateGpsListenerService"
            android:exported="false"/>
        <service
            android:name=".LowRateGpsStatusListenerService"
            android:exported="false"/>

    </application>

</manifest>